body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: url(../assets/dark-triangles.png);
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.Card {
    background-color: #222a3a;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
}
.Card img {
    width: 100%;
    border-radius: 5px;
}
.Card:hover
{
    scale: 1.2;
    transition: ease-in-out 0.3s;
}
#titolo
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    color: white;
}