*{
    border-radius: 10px;
}

.body
{
    background: url(../assets/pattern-sfondo.jpg) #4F4003;
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
.pokedexNazionale
{
    display: flex;
    gap: 25px;
    background-color: #B28E03; 
    flex-wrap: wrap; 
    width: 60%; 
    justify-content: center; 
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid; 
    padding: 20px;
}
.pokedexNazionale h2
{
    width: 100%;
}
.pokedexNazionale hr
{
    width: 100%; 
    border: 2px black solid;
}

#contenitoreBarraRicerca {
    position: relative;
    background-color: #f2e2c4;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
}
.input {
    background-color: #f2e2c4;
    color: #3a2e20;
    border: 2px solid #3a2e20;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding-inline: 10px;
    font-size: 16px;
}
#filter-btn{
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
#search-btn{
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
#shiny-btn{
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
#Scroll-up{
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #5c4530;
}
#filter-menu {
    display: none;
    position: absolute;
    margin-top: 10px;
    top: 60px;
    left: 0;
    background: #f2e2c4;
    border: 2px solid #3a2e20;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}
.filter-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}
.filter-option input {
    width: 18px;
    height: 18px;
    border: 2px solid #3a2e20;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}
.reset-btn {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: #5c4530;
}
#start-btn
{
    display: none;
    width: 50%;
    text-align: center;
    background-color: #3a2e20;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
#Scroll-up
{
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;
    background-color: #f2e2c4;
    color: #3a2e20;
    cursor: pointer;
}
#Scroll-up:hover
{
    background-color: #ece4d4;
    scale: 1.1;
}
#shiny-btn
{
    position: fixed;
    display: block;
    bottom: 20px;
    left: 20px;
    background-color: #f2e2c4;
    color: #3a2e20;
    cursor: pointer;
}
#shiny-btn:hover
{
    background-color: #ece4d4;
    scale: 1.1;
}
.name
{
    font-size: 20px;
}
.pokecard
{
    display: flex;
    width: 110px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 260px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 9, 0.35) 0px 5px 15px,
     rgba(0, 73, 144, 0.5) 5px 10px 15px;
     transition: all 0.5s;
}
.pokecard:hover
{
    scale: 1.5;
    transition: all 0.5s;
}
.img-container
{
    width: 100px;
    height: 100px;
    border-radius: 90%;
    background-color: rgba(255, 255, 255, 0.6);
}
.info
{
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.number
{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
}