*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5A4824;
    background: url(../assets/pattern-sfondo.jpg) #4F4003;    
    text-align: center;
    color: white;
}
.container {
    
    max-width: 800px;
    margin: 20px auto;
    background:#363232;
    padding: 20px;
    padding-top: 100px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: black;
}
#pokemon-img {
    max-width: 150px;
    height: auto;
}
.stats, .abilities {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #997903;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
}
.pokemon-card {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#pokemon-moves{
    margin: 10px;
}
#pokemon-cry{
    margin: 10px;
}