.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: fit-content;
    padding-top: 220px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.footer-links a:hover, .footer-social a:hover {
    color: #ffcc00;
}

.footer-text {
    font-size: 12px;
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .snorlax {
        scale: 0.5;
    }
}