<div id="footer-container">
    <div class="footer">
        
        <div class="footer-social">
            <a href="/www.facebook.com/pokemon" target="_blank">Facebook</a> |
            <a href="/www.twitter.com/pokemon" target="_blank">Twitter</a> |
            <a href="/www.instagram.com/pokemon" target="_blank">Instagram</a>
        </div>
        <p class="footer-text">© 2025 Pokémon Fan Page - Non affiliato a Nintendo, Game Freak o The Pokémon Company.</p>
        <div>
            <img id="snorlax" src="../assets/snorlax.png" alt="snorlax">
        </div>
    </div>
</div>