<div class="header-container">
    <img src="../assets/pokemonLogo.jpg" alt="Logo" class="logo">

    
    <button id="hamburger-btn" class="hamburger" onclick="compareMenu()">&#9776;</button>

    
    <div class="nav-links2">
        <a href="HomePage.html" id="home2">Home</a>
        <a href="Pokedex.html" id="pokedex2">Pokedex</a>
        <a href="Espansioni.html" id="espansioni2">Espansioni</a>
        <a href="profilo.html" id="profilo2">Profilo</a>
        <a href="cartePreferite.html" id="cartePreferite2">Preferiti</a>
    </div>

    
    <div id="navbar" class="navbar">
        <div class="nav-links">
            <a href="HomePage.html" id="home">Home</a>
            <a href="Pokedex.html" id="pokedex">Pokedex</a>
            <a href="Espansioni.html" id="espansioni">Espansioni</a>
            <a href="cartePreferite.html" id="cartePreferite">Preferiti</a>
        </div>
    </div>
</div>